@media (min-width: 1025px) {
  .dropdown-menu__item:hover {
    color: #d8ad80;
  }
  .header__item:hover > .title {
    color: #d8ad80;
  }
  .header__item:hover:after {
    background: #d8ad80;
  }
  .image-grid__item:hover:before {
    opacity: 0;
  }
  .social-list li:hover {
    color: #000;
    background: #dda264;
    border: 1px solid #dda264;
  }
  .standart-btn:hover {
    background: #dda364;
    color: #000;
  }
  .history-nav__item:hover {
    color: #d8ad80;
  }
}

@media (min-width: 1024px) and (max-height: 768px) {
  .product-example .section__bg {
    top: 90px;
    height: calc(100% - 90px);
  }
  .section-first__title {
    top: 20%;
  }
  @keyframes zoomAnimation {
    0%, 100% {
      transform: scale(0.6) translate(-50%, -50%);
      opacity: 0;
    }
    55% {
      transform: scale(0.9) translate(-50%, -50%);
      opacity: 1;
    }
  }
  .paralax-block {
    height: 470px;
  }
  .paralax-block > .wrapper {
    transform: scale(0.9);
  }
  .element-shirt {
    left: -42px;
    top: -21px;
  }
  .element-panties {
    top: 0px;
    left: 340px;
  }
  .element-clutch {
    left: 630px;
  }
  .section-style .wrapper {
    max-width: 950px;
  }
  .section-grid.animation .grid-large__product {
    top: 0;
  }
  .modal.modal-zoom {
    padding-top: 80px;
  }
  .image-grid {
    width: calc(100% - 150px);
  }
  .image-grid__item:first-child {
    margin-top: 94px;
  }
  .image-grid__item.negative-margin {
    margin-top: -54px;
  }
}

@media (max-width: 1139px) {
  .wrapper {
    max-width: 960px;
  }
  .section-description {
    width: 58%;
  }
  .image-grid__item:first-child {
    margin-top: 94px;
  }
  .image-grid__item.negative-margin {
    margin-top: -54px;
  }
  .tec-frst {
    left: -185px;
  }
  .tec-frst:before {
    right: 54px;
    transform: rotate(-21deg);
  }
  .tec-frst svg {
    right: 45px;
  }
  .section-presentation.animation .tec-item.tec-frst:before {
    height: calc(100% - 99px);
  }
  .tec-scnd {
    left: -170px;
  }
  .tec-scnd:before {
    right: 100px;
    transform: rotate(0deg);
  }
  .tec-scnd svg {
    right: 94px;
  }
  .section-presentation.animation .tec-item.tec-scnd:before {
    height: calc(100% - 110px);
  }
  .tec-thrd {
    right: -230px;
  }
  .tec-thrd:before {
    left: 97px;
    transform: rotate(25.6deg);
  }
  .tec-thrd svg {
    left: 90px;
  }
  .section-presentation.animation .tec-item.tec-thrd:before {
    height: calc(100% - 101px);
  }
  .tec-frth {
    right: -190px;
  }
  .tec-frth:before {
    left: 100px;
    transform: rotate(35deg);
  }
  .tec-frth svg {
    left: 90px;
  }
  .section-presentation.animation .tec-item.tec-frth:before {
    height: calc(100% - 94px);
  }
}

@media (max-width: 959px) {
  /*header*/
  .header__logo {
    width: 150px;
  }
  .header__list {
    font-size: 14px;
  }
  .header__item + .header__item {
    margin-left: 40px;
  }
  .wrapper {
    max-width: 720px;
  }
  .section-first .woman-bg {
    left: -100px;
  }
  .section-first .product-bg {
    right: -150px;
  }
  .section-first__title {
    top: 130px;
    left: 120px;
    font-size: 48px;
  }
  /*hero-block*/
  .hero-block .form__label {
    margin-bottom: 30px;
  }
  .hero-block .form__label:nth-child(3) {
    margin-right: 0;
  }
  .hero-block .form__label, .hero-block .standart-btn {
    width: calc(50% - 15px);
  }
  .hero-block__bg {
    margin: 0 0 50px 0;
    padding-top: 100px;
    background-size: cover;
    height: auto;
    background: 25% 50% no-repeat;
  }
  .hero-block__bg .wrapper {
    width: 100%;
    padding-left: 70px;
  }
  .form .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .form .standart-btn {
    transform: translateY(0);
  }
  .form__title {
    width: 70%;
    margin: 0 auto 35px;
  }
  .hidden-footer .main {
    min-height: calc(100vh - 232px);
  }
  .hidden-footer .footer {
    height: 40px;
  }
  .hidden-footer.active-footer .footer {
    height: 322px;
  }
  .footer-arrow {
    height: 40px;
    line-height: 40px;
  }
  /*.certificate*/
  .certificate-block {
    padding: 0 100px;
    flex-wrap: wrap;
    margin: 0 -15px -30px -30px;
  }
  .certificate-block__item + .certificate-block__item {
    margin: 0 0 30px 30px;
  }
  .certificate-block__item {
    width: calc(50% - 30px);
    padding-top: 65.3%;
    margin: 0 0 30px 30px;
  }
  /*contacts-block*/
  .contacts-block {
    flex-wrap: wrap;
  }
  .contacts-block__content {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .contacts-block__content .social-list {
    margin: auto;
  }
  .contacts-block__content .content-section {
    margin-bottom: 41px;
  }
  #map {
    width: calc( 100% + 30px);
    height: 360px;
    margin: 0 -15px;
  }
  /**/
  .page-name__certificate, .page-name__contacts {
    padding-bottom: 40px;
  }
  .page-name__certificate .main, .page-name__contacts .main {
    min-height: calc(100vh - 232px);
  }
  .page-name__certificate .footer, .page-name__contacts .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 40px;
    transition: height .3s;
  }
  .page-name__certificate .footer-arrow, .page-name__contacts .footer-arrow {
    display: block;
  }
  .page-name__certificate.active-footer .footer, .page-name__contacts.active-footer .footer {
    height: 322px;
  }
  .section-description {
    width: 100%;
  }
  /*cooperation-block*/
  .cooperation-block {
    flex-wrap: wrap;
  }
  .cooperation-block__content {
    width: 100%;
    padding-left: 35px;
    margin-bottom: 95px;
  }
  .cooperation-slider {
    width: 100%;
  }
  .page-name__cooperation.hidden-footer {
    padding-bottom: 70px;
  }
  .history-content {
    margin: 0 -15px;
    width: calc(100% + 30px);
    padding: 0;
    height: 755px;
  }
  .history-tab__description .title {
    color: #fff;
    font-weight: 500;
  }
  .page-name__history.hidden-footer .main {
    padding-bottom: 0;
  }
  .product-example__package {
    width: 330px;
    height: 405px;
    padding: 0;
  }
  .product-example__gasket {
    width: 300px;
    height: 595px;
    padding: 0;
  }
  .main .section .section-title {
    padding-top: 105px;
  }
  .section-paralax .section-title {
    padding: 0 !important;
  }
  .paralax-block {
    height: 730px;
  }
  .element-shirt {
    top: auto;
    bottom: 15px;
    left: -60px;
  }
  .element-panties {
    top: 0;
    left: 140px;
  }
  .element-product {
    top: 195px;
    left: 395px;
  }
  .element-bow {
    top: 60px;
    left: auto;
    right: 60px;
  }
  .element-mascara {
    display: none;
  }
  .element-clutch {
    left: auto;
    right: -15px;
  }
  .section-grid .section-title {
    padding-top: 0 !important;
  }
  .section-grid .grid-medium {
    width: calc(50% - 30px);
    padding: 23.6% 0 0;
  }
  .section-grid .grid-medium:first-child {
    width: 100%;
    padding: 23.6% 0 0;
  }
  .section-grid .grid-large {
    padding: 39% 0 0;
  }
  .section-grid .grid-large__product {
    padding: 0;
    height: 300px;
    width: 230px;
    top: 30px;
    left: 0px;
  }
  .image-grid {
    padding: 0 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .image-grid__item {
    float: none;
  }
  .image-grid__item:before {
    display: none;
  }
  .image-grid__item.grid-vertical {
    width: 150px;
    height: 225px;
    padding-top: 0;
  }
  .image-grid__item.grid-horizontal {
    width: 225px;
    height: 150px;
    padding-top: 0;
  }
  .image-grid__item.negative-margin {
    margin: 10px;
  }
  .image-grid__item:nth-child(1) {
    order: 8;
    margin-top: -84px;
  }
  .image-grid__item:nth-child(2) {
    order: 4;
    margin-top: -64px;
  }
  .image-grid__item:nth-child(3) {
    order: 6;
    margin-left: auto;
    margin-top: -64px;
  }
  .image-grid__item:nth-child(4) {
    order: 9;
  }
  .image-grid__item:nth-child(5) {
    order: 3;
  }
  .image-grid__item:nth-child(6) {
    order: 7;
  }
  .image-grid__item:nth-child(7) {
    order: 2;
  }
  .image-grid__item:nth-child(8) {
    order: 10;
    margin-top: -8px;
  }
  .image-grid__item:nth-child(9) {
    order: 11;
  }
  .image-grid__item:nth-child(10) {
    order: 1;
  }
  .image-grid__item:nth-child(11) {
    display: none;
  }
  .image-grid__item:nth-child(12) {
    order: 8;
  }
  @keyframes zoomAnimation {
    0%, 100% {
      transform: scale(0.6) translate(-50%, -50%);
      opacity: 0;
    }
    55% {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
    }
  }
  .section-footer .section-title {
    width: 85%;
    margin: auto;
  }
  .section-footer .section-title br {
    display: none;
  }
  .section-footer .section__bg {
    background: 55% 50% no-repeat;
    background-size: 225%;
  }
  .tec-item__img {
    display: none;
  }
  .modal .modal-zoom__image {
    max-width: 690px;
  }
  .tec-frst {
    left: -125px;
    top: -115px;
    width: 370px;
  }
  .tec-frst:before {
    right: 8px;
    transform: rotate(-29.8deg);
  }
  .tec-frst svg {
    right: 0px;
  }
  .section-presentation.animation .tec-item.tec-frst:before {
    height: calc(100% - 86px);
  }
  .tec-scnd {
    left: auto;
    right: -10px;
    top: 95%;
    width: 310px;
    height: 215px;
    display: flex;
    align-items: flex-end;
  }
  .tec-scnd:before {
    right: 152px;
    bottom: calc(100% - 11px);
    transform: rotate(-37deg) scaleY(-1);
  }
  .tec-scnd .tec-item__text {
    width: 310px;
  }
  .tec-scnd .tec-item__text .text {
    width: 80%;
  }
  .tec-scnd svg {
    right: 150px;
    top: 0;
  }
  .section-presentation.animation .tec-item.tec-scnd:before {
    height: 255px;
  }
  .tec-thrd {
    right: -120px;
    top: -115px;
    height: 260px;
  }
  .tec-thrd:before {
    left: 215px;
    transform: rotate(-27deg);
  }
  .tec-thrd .tec-item__text {
    width: 265px;
  }
  .tec-thrd svg {
    left: 210px;
  }
  .section-presentation.animation .tec-item.tec-thrd:before {
    height: calc(100% - 92px);
  }
  .tec-frth {
    right: -140px;
    display: flex;
    align-items: flex-end;
    width: 330px;
    height: 140px;
    top: 70%;
  }
  .tec-frth:before {
    left: 10px;
    bottom: calc(100% - 12px);
    transform: rotate(-32.6deg) scale(-1);
  }
  .tec-frth .tec-item__text {
    width: 240px;
  }
  .tec-frth svg {
    top: 0;
    left: 0px;
  }
  .section-presentation.animation .tec-item.tec-frth:before {
    height: calc(100% + 12px);
  }
  .tec-fifth {
    left: -105px;
    top: 80%;
    width: 320px;
    height: 160px;
    display: flex;
    align-items: flex-end;
  }
  .tec-fifth:before {
    left: 118px;
    bottom: calc(100% - 11px);
    transform: rotate(38.5deg) scaleY(-1);
  }
  .tec-fifth .tec-item__text {
    width: 320px;
    padding-left: 65px;
  }
  .tec-fifth svg {
    left: 115px;
    top: 0;
  }
  .section-presentation.animation .tec-item.tec-fifth:before {
    height: calc(100% + 30px);
  }
  /*footer*/
  .footer-content {
    flex-wrap: wrap;
    padding: 20px 0;
    height: auto;
  }
  .footer-content__logo {
    width: 100%;
    margin-bottom: 20px;
    order: 1;
  }
  .footer-content__logo img {
    margin: auto;
    display: block;
  }
  .footer-content .social-list {
    order: 2;
    width: 100%;
    justify-content: center;
    margin-bottom: 27px;
  }
  .footer-content .social-list li + li {
    margin-left: 20px;
  }
  .footer-info {
    order: 3;
    width: 50%;
    padding-left: 65px;
    letter-spacing: .6px;
  }
  .footer-info + .footer-info {
    order: 4;
    padding-left: 85px;
  }
}

@media (min-width: 720px) {
  .section-presentation.animation .tec-item:before {
    height: calc(100% - 78px);
  }
  .section-presentation.animation .tec-item__text:before {
    width: 100%;
  }
  .section-presentation.animation .tec-item__text .title, .section-presentation.animation .tec-item__text .text {
    opacity: 1;
    transform: translateY(0);
  }
  .section-presentation.animation .tec-item.tec-thrd:before {
    height: calc(100% - 40px);
  }
  .section-presentation.animation .tec-item.tec-frth:before {
    height: calc(100% - 22px);
  }
  .section-presentation.animation .tec-item.tec-fifth:before {
    height: calc(100% + 19px);
  }
  .section-presentation.animation .tec-item__img {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 719px) {
  .section-first .woman-bg {
    left: -55px;
    width: 355px;
    background-size: contain;
  }
  .section-first .product-bg {
    width: 490px;
    height: 380px;
    background-size: contain;
    right: -90px;
  }
  /*header*/
  .header {
    padding: 20px 15px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header.active .hamburger {
    margin-bottom: 0px;
  }
  .header.active .hamburger:before, .header.active .hamburger:after {
    width: 27px;
  }
  .header.active .hamburger:before {
    transform: rotate(-45deg);
  }
  .header.active .hamburger:after {
    bottom: 0;
    transform: rotate(45deg);
    top: calc(100% - 1px);
  }
  .header.active .header-content {
    transform: translateY(0);
    opacity: 1;
  }
  .header__logo {
    display: none;
  }
  .header-img {
    display: block;
    height: 20px;
    width: 70px;
    z-index: 80;
    position: relative;
  }
  .header .hamburger {
    width: 40px;
    height: 20px;
    margin-bottom: -6px;
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 80;
  }
  .header .hamburger:before, .header .hamburger:after {
    content: '';
    display: block;
    background: #d8ad80;
    position: absolute;
    right: 0;
    height: 1px;
    transition: all .3s;
    transform-origin: right;
  }
  .header .hamburger:before {
    width: 40px;
    top: 0;
  }
  .header .hamburger:after {
    width: 20px;
    top: 10px;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    font-size: 19px;
  }
  .header__item + .header__item {
    margin: 0 0 35px 0;
  }
  .header__item {
    margin-bottom: 35px;
  }
  .dropdown-menu .dropdown-menu__content {
    background: transparent;
  }
  .dropdown-menu__list {
    font-size: 14px;
  }
  .header-content {
    padding-top: 110px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    z-index: 79;
    display: block;
    overflow-x: hidden;
    background: #0b0b0a;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .4s , opacity .3s;
  }
  .wrapper {
    max-width: 576px;
  }
  .form__title {
    width: 80%;
  }
  /*footer*/
  .footer-info {
    padding-left: 0;
  }
  .history-nav {
    width: auto;
    white-space: nowrap;
    overflow-y: hidden;
    font-size: 18px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .history-nav::-webkit-scrollbar {
    display: none;
  }
  .history-nav__item {
    color: rgba(255, 255, 255, 0.3);
  }
  .history-nav__item + .history-nav__item {
    margin-left: 90px;
  }
  .paralax-block {
    height: 400px;
  }
  .element-shirt {
    top: 0;
    bottom: auto;
    left: -40px;
  }
  .element-shirt img {
    height: 270px;
    width: 280px;
  }
  .element-panties {
    top: 10px;
    left: auto;
    right: 10px;
  }
  .element-panties img {
    height: 120px;
    width: 155px;
  }
  .element-package {
    left: 80px;
    top: auto;
    bottom: 17px;
  }
  .element-package img {
    height: 70px;
    width: 60px;
  }
  .element-product {
    top: 155px;
    left: auto;
    right: 20px;
  }
  .element-product img {
    height: 100px;
    width: 75px;
  }
  .element-bow {
    top: auto;
    left: 15px;
    right: auto;
    bottom: 90px;
  }
  .element-bow img {
    height: 55px;
    width: 55px;
  }
  .element-mascara {
    display: block;
    left: 175px;
    bottom: 105px;
  }
  .element-mascara img {
    height: 30px;
    width: 65px;
  }
  .element-clutch {
    left: auto;
    right: -7px;
    bottom: -7px;
  }
  .element-clutch img {
    height: 95px;
    width: 145px;
  }
  /*main-page*/
  .main .section .section-title {
    padding-top: 70px;
  }
  .product-example__gasket {
    height: 345px;
    width: 175px;
  }
  .product-example__package {
    width: 194px;
    height: 240px;
  }
  .image-grid {
    padding: 0;
    width: calc(100% + 20px);
    max-width: 360px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0) translateX(-50%);
  }
  .image-grid__item {
    width: calc(50% - 20px) !important;
    height: 0 !important;
  }
  .image-grid__item:before {
    display: none;
  }
  .image-grid__item.grid-vertical {
    padding-top: 67%;
  }
  .image-grid__item.grid-horizontal {
    padding-top: 31%;
  }
  .image-grid__item.negative-margin {
    margin: 10px;
  }
  .image-grid__item:nth-child(1) {
    order: 1;
    margin-top: -0px;
  }
  .image-grid__item:nth-child(2) {
    order: 6;
    margin-top: 10px;
  }
  .image-grid__item:nth-child(3) {
    order: 2;
    margin: 0 10px 10px 10px;
  }
  .image-grid__item:nth-child(4) {
    order: 8;
  }
  .image-grid__item:nth-child(5) {
    order: 9;
  }
  .image-grid__item:nth-child(6) {
    order: 3;
  }
  .image-grid__item:nth-child(7) {
    order: 4;
    margin-top: -119px;
  }
  .image-grid__item:nth-child(8) {
    order: 12;
    margin-top: -123px;
  }
  .image-grid__item:nth-child(9) {
    order: 5;
  }
  .image-grid__item:nth-child(10) {
    order: 10;
    margin-top: -123px;
  }
  .image-grid__item:nth-child(11) {
    display: block;
    order: 7;
  }
  .image-grid__item:nth-child(12) {
    order: 11;
  }
  .section-grid .slimScrollDiv {
    padding-top: 70px;
  }
  .section-style {
    padding-top: 0;
  }
  .section-grid .container {
    margin: 0 0 -15px -15px;
  }
  .section-grid .grid-element {
    margin: 0 0 15px 15px;
    padding: 29.2% 0 0;
    width: calc(50% - 15px);
  }
  .section-grid .grid-large {
    width: 100%;
    padding: 43.5% 0 0;
  }
  .section-grid .grid-large .grid-large__product {
    width: 28.8%;
    height: 0;
    padding-top: 41%;
    left: 2.5%;
    top: 22%;
  }
  .section-grid .grid-medium:first-child {
    padding: 29.2% 0 0;
  }
  /*presentation*/
  .section-presentation .bg-circle {
    width: 300px;
  }
  .section-presentation .bg-presentation {
    height: 300px;
    width: 255px;
  }
  .tec-item {
    width: 270px;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    height: 80px;
  }
  .tec-item:before {
    height: 0 !important;
    transition-delay: .3s;
  }
  .tec-item:after {
    content: '+';
    display: block;
    font-size: 13px;
    color: #878787;
    position: absolute;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    z-index: -1;
  }
  .tec-item .tec-item__text {
    width: 100%;
    padding: 0;
    opacity: 0;
  }
  .tec-item .tec-item__text:before {
    transition-delay: 0.6s !important;
  }
  .tec-item .tec-item__text .title, .tec-item .tec-item__text .text {
    transition-delay: 0.7s !important;
  }
  .tec-item .tec-item__text > * {
    width: 100% !important;
  }
  .tec-item.active:after {
    content: '-';
    line-height: 12px;
  }
  .tec-item.active .tec-item__text {
    opacity: 1;
  }
  .tec-item.active .tec-item__text:before {
    width: 100%;
  }
  .tec-item.active .tec-item__text .title, .tec-item.active .tec-item__text .text {
    opacity: 1;
    transform: translateY(0);
  }
  .tec-item.active.tec-frst:before {
    height: 115px !important;
  }
  .tec-item.active.tec-scnd:before {
    height: 305px !important;
  }
  .tec-item.active.tec-thrd:before {
    height: 80px !important;
  }
  .tec-item.active.tec-frth:before {
    height: 239px !important;
  }
  .tec-item.active.tec-fifth:before {
    height: 238px !important;
  }
  .tec-frst:before {
    right: 104px;
    bottom: -67px;
    transform: rotate(65deg);
  }
  .tec-frst:after {
    right: 36%;
    bottom: -100%;
  }
  .tec-frst svg {
    right: 36%;
    bottom: -100%;
  }
  .tec-scnd:before {
    right: 113px;
    bottom: -261px;
    transform: rotate(-30.8deg);
  }
  .tec-scnd:after {
    right: 105px;
    top: 340px;
  }
  .tec-scnd .tec-item__text:before {
    left: 0;
    right: auto;
  }
  .tec-scnd svg {
    right: 105px;
    top: 340px;
  }
  .tec-thrd:before {
    left: 232px;
    bottom: -87px;
    transform: rotate(28deg);
  }
  .tec-thrd:after {
    left: 225px;
    bottom: -100px;
  }
  .tec-thrd .tec-item__text:before {
    left: auto;
    right: 0;
  }
  .tec-thrd svg {
    left: 225px;
    bottom: -100px;
  }
  .tec-frth:before {
    left: 153px;
    bottom: -207px;
    transform: rotate(29.4deg);
  }
  .tec-frth:after {
    bottom: -220px;
    right: 110px;
  }
  .tec-frth .tec-item__text:before {
    left: auto;
    right: 0;
  }
  .tec-frth svg {
    top: auto;
    left: auto;
    bottom: -220px;
    right: 110px;
  }
  .tec-fifth {
    opacity: 1;
  }
  .tec-fifth:before {
    left: 16px;
    bottom: -236px;
    transform: rotate(-4deg);
  }
  .tec-fifth:after {
    left: 10px;
    top: 315px;
  }
  .tec-fifth svg {
    left: 10px;
    top: 315px;
  }
}

@media (max-width: 575px) {
  .section-first__title {
    top: 80px;
    left: 20px;
    font-size: 28px;
    line-height: 38px;
  }
  .dropdown-menu .dropdown-menu__content {
    background: transparent;
  }
  .dropdown-menu__list {
    font-size: 14px;
  }
  .header-content {
    padding-top: 110px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    z-index: 79;
    display: block;
    overflow-x: hidden;
    background: #0b0b0a;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .4s , opacity .3s;
  }
  /**/
  .wrapper {
    width: 100%;
  }
  .section-title {
    font-size: 22px;
  }
  .section-description {
    font-size: 17px;
    line-height: 20px;
  }
  .title--margin + .section-description {
    text-align: left;
  }
  /*.certificate*/
  .certificate-block {
    padding: 0 35px;
    margin: 0px 0 40px 0;
  }
  .certificate-block__item {
    padding: 0;
    height: 360px;
    width: 100%;
    max-width: 256px;
    margin: 0 auto 0;
  }
  .certificate-block .certificate-block__item + .certificate-block__item {
    margin: 20px auto 0;
  }
  .modal .modal-zoom__image {
    max-width: 100%;
  }
  /*cooperation*/
  .cooperation-block__content {
    padding: 0;
  }
  .cooperation-block__content .text {
    width: 100%;
  }
  .cooperation-list__item {
    line-height: 20px;
  }
  .cooperation-slider {
    padding: 0;
  }
  .download-block .section-description {
    width: 250px;
  }
  /*find*/
  .page-name__find .header {
    margin-bottom: 0;
  }
  .hero-block__bg {
    background: 71% 50% no-repeat;
    padding-top: 75px;
  }
  .hero-block__bg .wrapper {
    padding: 0 15px;
    margin-bottom: 160px;
  }
  .hero-block__bg .wrapper .title {
    width: 100%;
    font-size: 44px;
    margin-bottom: 0;
  }
  .hero-block__bg .wrapper .description {
    padding: 0;
    font-size: 12px;
  }
  .hero-block .form__label {
    margin: 0 0 20px 0 !important;
  }
  .hero-block .form__label, .hero-block .standart-btn {
    width: 100%;
  }
  .hero-block .standart-btn {
    margin-bottom: 50px;
  }
  /*.contacts*/
  .contacts-block__content .content-title {
    font-size: 16px;
  }
  .contacts-block__content .content-section {
    margin-bottom: 35px;
  }
  .contacts-block__content .content-section .content-title {
    margin-bottom: 8px;
  }
  /*history*/
  .history-content {
    height: 405px;
    margin-bottom: 20px;
  }
  .history-tab .quote {
    display: none;
  }
  .history-tab__description {
    height: 81%;
  }
  .history-tab__description .title {
    visibility: hidden;
  }
  .section-footer .section-title {
    width: 100%;
  }
  .section-footer .section__bg {
    background: 55% 40% no-repeat;
    background-size: 225%;
  }
  .hidden-footer.active-footer .footer, .page-name__certificate.active-footer .footer, .page-name__contacts.active-footer .footer {
    height: 308px;
  }
  .page-name__history.hidden-footer .main {
    min-height: calc(100vh - 69px);
  }
  /*footer*/
  .footer-content {
    padding: 15px 0 10px 0;
  }
  .footer-content__logo {
    margin-bottom: 12px;
  }
  .footer-content__logo img {
    width: 40px;
    height: 50px;
  }
  .footer-content .social-list {
    order: 4;
    margin: 5px 0 0 0;
  }
  .footer-info {
    width: 100%;
    text-align: center;
  }
  .footer-info + .footer-info {
    padding: 0;
    margin-top: 7px;
  }
  .footer-copy {
    font-size: 12px;
    height: 35px;
  }
}
